// aplicando map
$social-media: ( twitter: #00f7ff, facebook: #002fff, linkedin: #3046c2);
@each $red,
$color in $social-media {
    .media__#{$red} {
        background-color: $color;
    }
}

// aplicando mixin
@mixin border($style, $size, $color) {
    border: $style $size $color;
}

.canto__blanco__imagen {
    @include border(solid, 2px, black);
}

.canto__negro__imagen {
    @include border(solid, 2px, white);
}

// aplicando extend
.conocenos__imagen--principal {
    width: 480px;
    height: 480px;
    background-image: url(../img/vinyl-336626_1920.jpg);
    background-position: 50% 50%;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: $borde__grueso;
    background-size: cover;
    background-position: 50% 50%;
}

.conocenos__imagen--secundaria {
    @extend .conocenos__imagen--principal;
    width: 220px;
    height: 220px;
    margin-top: 300px;
    margin-left: 300px;
}