// aplicando map
$social-media: ( twitter: #00f7ff, facebook: #002fff, linkedin: #3046c2);
@each $red,
$color in $social-media {
    .media__#{$red} {
        background-color: $color;
    }
}

// aplicando mixin
@mixin border($style, $size, $color) {
    border: $style $size $color;
}

.canto__blanco__imagen {
    @include border(solid, 2px, black);
}

.canto__negro__imagen {
    @include border(solid, 2px, white);
}

// aplicando extend
.conocenos__imagen--principal {
    width: 610px;
    height: 610px;
    background-image: url(../img/vinyl-336626_1920.jpg);
    background-position: 50% 50%;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: $borde__grueso;
    background-size: cover;
    background-position: 50% 50%;
}

.conocenos__imagen--secundaria {
    @extend .conocenos__imagen--principal;
    width: 279px;
    height: 279px;
    margin-top: 380px;
    margin-left: 380px;
}

// each
$list: red blue green;
@each $i in $list {
    .personal__#{$i} {
        color: #{$i};
    }
}

// mapa
$profesores: ( basico: #b3ff00, medio: rgb(255, 123, 0), avanzado: rgb(128, 0, 0));
@each $profesor,
$color in $profesores {
    .profesor__#{$profesor} {
        border: solid 2px $color;
        border-radius: 10%;
    }
}