<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Aquí podrás encontrar un espacio para aprender, enseñar y entender la música.">
    <meta name="keywords" content="Música, estudios, academia, academia musical, guitarra, piano, violín, bajo">

    <link rel="stylesheet" href="../animations/animations.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/estilo.css">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />

    <script src="https://kit.fontawesome.com/267b35900f.js" crossorigin="anonymous"></script>

    <title>Academia musical</title>
</head>

<!-- encabezado || navbar -->

<body class="bg-transparent">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="navlogo" src="../img/logo.svg" alt="logo"> Aprende música
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="canto.html">Canto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="instrumentos.html">Instrumentos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="academia.html">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profesionales.html">Profesionales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- inicio secciones -->
    <section>
        <div class="container academia">
            <div class="row ">
                <div class="col-lg-6 col-sm-12 academia__seccion">
                    <div>
                        <h1>Estudio </h1>
                        <h3>Contiene todo lo necesario</h3>
                        <p>Contamos con salones de estudio preparados y listos para ser usados por los estudiantes con una amplia gama de dispositivos a disposición las 24 horas para los alumnos.
                        </p>
                        <p>Sistema y DAW</p>
                        <p>Conversores y procesadores</p>
                        <p>Microfonos</p>
                        <p>Monitores</p>
                        <p>Instrumentos</p>
                        <p>Pedales analógicos y digitales</p>
                        <p>Controladores MIDI</p>
                    </div>
                    <img data-aos="zoom-in-right" class="img-fluid academia__imagen" src="../img/guitar-4614768_640.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12 academia__seccion ">
                    <img data-aos="zoom-in-right" class="img-fluid academia__imagen" src="../img/sound-studio-571995_640.jpg" alt="">
                    <div class="texto__instrumentos">
                        <h1>Instrumentos</h1>
                        <h3>Exclusivos para uso de grabación</h3>
                        <p>Fender Stratocaster® Custom Relic 62/63</p>
                        <p>Gibson Les Paul Studio 2012</p>
                        <p>Taylor 114e</p>
                        <p>Gabinete DIY 4x12, conos Eminence</p>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 academia__seccion">
                    <div>
                        <h1>Microfonos</h1>
                        <h3>Todos de alta gama</h3>
                        <p> 1 Rode NT2A</p>
                        <p>2 Shure SM57</p>
                        <p>1 Shure SM58</p>
                        <p>2 Rode NT5Mp</p>
                        <p>1 Shure Beta 52</p>
                        <p>1 Shure Shure Beta 91</p>
                        <p>2 Sennheiser e604</p>
                        <p>1 AKG Perception 170</p>
                    </div>
                    <img data-aos="zoom-in-right" class="img-fluid academia__imagen" src="../img/music-1004248_640.jpg" alt="">
                </div>
                <div class="col-lg-6 col-sm-12 academia__seccion">
                    <img data-aos="zoom-in-right" class="img-fluid academia__imagen" src="../img/microphone-1007154_640.jpg" alt="">
                    <div>
                        <h1>Pedales analógicos y digitales</h1>
                        <h3>Efectos variados y productos nuevos</h3>
                        <p>TC Electronics Polytune</p>
                        <p>Dunlop Original Crybaby</p>
                        <p>Strymon Timeline Delay</p>
                        <p>Strymon BigSky Reverb</p>
                        <p>MXR Phase 90</p>
                        <p>Boss TR-2 Tremolo</p>
                        <p>Boss DS-1 Distortion</p>
                        <p>Electro-Harmonix Pitch Fork</p>
                        <p>Mooer Cali-MK 3 Micropreamp</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- información de contacto. -->
        <div class="container conocenos">
            <div class="row">
                <div class="col-lg-6 col-sm-12 conocenos__texto">
                    <h1> Conócenos </h2>
                        <h5 class="text-muted"> Nuestro objetivo es llevar este proyecto a nivel mundial. Los pocos proyectos de calidad en el mundo son caros, a menudo ofrecen solo un instrumento y son en inglés. Nosotros queremos ofrecer nuestros servicios en todos los idomas,
                            con tárifas accesibles y adaptadas a cada lugar. </h5>
                        <h2> Contacto: +56 912345678 </h2>
                        <h2>Director: Juanito Perez </h2>
                        <h5> Director academico </h5>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div>
                        <div data-aos="fade-right" class="conocenos__imagen--principal">
                            <div class="conocenos__imagen--secundaria"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- pie de pagina/footer -->

    <footer class="pie">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 text-lg-left pie__copyright">Copyright © Todos los derechos reservados!
                </div>
                <div class="col-lg-4 col-sm-4 pie__redes">
                    <a class="media__twitter btn btn-dark" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="media__facebook btn btn-dark" href="#!"><i class="fab fa-facebook"></i></a>
                    <a class="media__linkedin btn btn-dark" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 col-sm-4 text-lg-right">
                    <a href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- scripts de bootstrap 4.6 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>

</body>

<!-- scripts aos-->
<script src="../animations/aos.js"></script>
<script>
    AOS.init();
</script>

</html>