<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Aquí podrás encontrar un espacio para aprender, enseñar y entender la música.">
    <meta name="keywords" content="Música, estudios, academia, academia musical, guitarra, piano, violín, bajo">

    <link rel="stylesheet" href="../animations/animations.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/estilo.css">

    <script src="https://kit.fontawesome.com/267b35900f.js" crossorigin="anonymous"></script>

    <title>Clases de canto</title>
</head>

<body class="bg-transparent">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="navlogo" src="../img/logo.png" alt="logo"> Aprende música
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="canto.html">Canto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="instrumentos.html">Instrumentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academia.html">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profesionales.html">Profesionales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <div class="container-fluid canto">
            <div class="row">
                <div class="col-sm-6 col-lg-6 canto__blanco">
                    <div class="text-center">
                        <h2 class="text-uppercase">Clases de canto</h2>
                        <h3 class="text-muted">Disponible para todas las edades.</h3>
                    </div>
                    <a class="modal__image"><img class="img-fluid canto__blanco__imagen" src="../img/microphone-1209816_1920.jpg" alt="" data-toggle="modal" data-target="#amodal1"></a>
                    <div class="modal__image--text">Individual.</div>
                    <div class="modal fade" id="amodal1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/microphone-1209816_1920.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <span>Spread the word!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6 canto__negro">
                    <div class="text-center">
                        <h2 class="text-uppercase">Clases de canto</h2>
                        <h3 class="text-muted">Disponible para todas las edades.</h3>
                    </div>
                    <a class="modal__image"><img class="img-fluid canto__negro__imagen" src="../img/tomsadventures-8__esxuic9Q-unsplash.jpg" alt="" data-toggle="modal" data-target="#amodal2"></a>
                    <div class="modal__image--text">Coro.</div>
                    <div class="modal fade" id="amodal2">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/tomsadventures-8__esxuic9Q-unsplash.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <span>Spread the word!</span>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div data-aos="fade-left" data-aos-anchor-placement="center-center" class="col-lg-4 col-sm-12">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle" src="../img/vinyl-336626_1920.jpg" alt="">
                        <div>
                            <h2>Forma de canto A</h2>
                            <h3>Algo llamativo</h3>
                            <h5> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo cumque enim ullam voluptates autem culpa magni, aut sint tempore libero dolore voluptate unde aliquam assumenda reprehenderit, recusandae ut! Provident.</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-center" data-aos-anchor-placement="center-center" class="col-lg-4 col-sm-12">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle" src="../img/vinyl-336626_1920.jpg" alt="">
                        <div>
                            <h2>Forma de canto B</h2>
                            <h3>Algo llamativo</h3>
                            <h5> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo cumque enim ullam voluptates autem culpa magni, aut sint tempore libero dolore voluptate unde aliquam assumenda reprehenderit, recusandae ut! Provident.</h5>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-right" data-aos-anchor-placement="center-center" class="col-lg-4 col-sm-12">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle" src="../img/vinyl-336626_1920.jpg" alt="">
                        <div>
                            <h2>Forma de canto C</h2>
                            <h3>Algo llamativo</h3>
                            <h5> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quo cumque enim ullam voluptates autem culpa magni, aut sint tempore libero dolore voluptate unde aliquam assumenda reprehenderit, recusandae ut! Provident.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container conocenos">
            <div class="row">
                <div class="col-lg-6 col-sm-12 conocenos__texto">
                    <h1> Conocenos </h2>
                        <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
                        <h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa magni voluptatum voluptates qui ullam! Officia, aliquid? Expedita impedit beatae, architecto laboriosam id consequatur maxime ab odit, facilis aliquam eos assumenda?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur mollitia quia beatae. Itaque accusantium aspernatur quis nostrum tenetur, tempora molestiae perspiciatis ratione cupiditate obcaecati ducimus illo, voluptas
                            velit? Dolores, dolor?</h5>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div>
                        <div data-aos="fade-right" class="conocenos__imagen--principal">
                            <div class="conocenos__imagen--secundaria"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <footer class="pie">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 text-lg-left pie__copyright">Copyright © Todos los derechos reservados!
                </div>
                <div class="col-lg-4 col-sm-4 pie__redes">
                    <a class="btn btn-dark" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark" href="#!"><i class="fab fa-facebook"></i></a>
                    <a class="btn btn-dark" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 col-sm-4 text-lg-right">
                    <a href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- scripts de bootstrap 4.6 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
<script src="../animations/aos.js"></script>
<script>
    AOS.init();
</script>


</html>