<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Aquí podrás encontrar un espacio para aprender, enseñar y entender la música.">
    <meta name="keywords" content="Música, estudios, academia, academia musical, guitarra, piano, violín, bajo">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../scss/estilo.css">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />

    <script src="https://kit.fontawesome.com/267b35900f.js" crossorigin="anonymous"></script>

    <title>Clases de guitarra</title>

</head>

<!-- encabezado || navbar -->

<body class="bg-transparent">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="navlogo" src="../img/logo.svg" alt="logo"> Aprende música
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="canto.html">Canto</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="instrumentos.html">Instrumentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="academia.html">Academia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profesionales.html">Profesionales</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- inicio secciones -->
    <section>
        <div class="container-fluid modal__overflow">
            <div class="text-center">
                <h2 class="text-uppercase">Guitarra Electroacustica</h2>
                <h3 class="text-muted">Desde el nivel más bajo hasta el más avanzado.</h3>
            </div>
            <div class="row w-100">
                <!-- acustica 01 -->
                <div data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos="fade-up" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/acustica01.jpg" alt="" data-toggle="modal" data-target="#amodal1"></a>
                    <div class="modal__image--text">Principiante.</div>
                    <div class="modal fade" id="amodal1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/acustica01.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Milton Melgarejo</h4>
                                                <p class="text-muted"> Músico Profesional con 14 años de experiencia. Egresado de Licenciatura en Teoría de la música en la U. de Chile.
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- acustica 02 -->
                <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/acustica02.jpg" alt="" data-toggle="modal" data-target="#amodal2"></a>
                    <div class="modal__image--text">Básico.</div>
                    <div class="modal fade" id="amodal2">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/acustica02.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Daniel Orrego</h4>
                                                <p class="text-muted"> Titulado de la Escuela Moderna De Música. Con 6 años de experiencia haciendo clases particulares a niños y adultos</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- acustica 03 -->
                <div data-aos="fade-down" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/acustica03.jpg" alt="" data-toggle="modal" data-target="#amodal3"></a>
                    <div class="modal__image--text">Medio.</div>
                    <div class="modal fade" id="amodal3">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/acustica03.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Alvaro Vilca</h4>
                                                <p class="text-muted"> Profesor egresado de Licenciatura en Música, Universidad de Chile y Profesor de Artes Musicales, Universidad Mayor</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- acustica 04 -->
                <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/acustica04.jpg" alt="" data-toggle="modal" data-target="#amodal4"></a>
                    <div class="modal__image--text">Avanzado.</div>
                    <div class="modal fade" id="amodal4">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <img src="../img/acustica04.jpg" class="w-100" alt="">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Mauris Hussein</h4>
                                                <p class="text-muted"> Profesor con 25 años dictando clases, graduado en todos los niveles y edades, teorías, armonías e improvisación </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- guitarra electrica -->

            <div class="text-center">
                <h2 class="text-uppercase">Guitarra Electrica</h2>
                <h3 class="text-muted">Aprende desde cero o mejora lo que sabes.</h3>
            </div>
            <div class="row">
                <!-- electrica 01 -->
                <div data-aos="fade-right" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/electrica01.jpg" alt="" data-toggle="modal" data-target="#emodal1"></a>
                    <div class="modal__image--text">Principiante.</div>
                    <div class="modal fade" id="emodal1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesora Eugenia</h4>
                                                <p class="text-muted"> Licenciada en Interpretation Musical U de Chile; Magister en Pedagogía; Co-autora del Método de Guitarra Chilena, alumnos premiados en concursos</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-12">
                                            <h4 class="text-danger text-uppercase">testimonios</h4>
                                        </div>

                                        <div class="col-sm-4 col-lg-4">
                                            <img src="../img/electrica01.jpg" class="w-100 rounded" alt="">
                                        </div>

                                        <div class="col-sm-4 col-lg-4">
                                            <p class="text-muted">Buen servicio, las clases son para que verdaderamente aprendas y no te aloques sin rumbo, simplemente te enseñan a caminar antes de correr</p>
                                            <h5>Iván Calvo</h5>
                                            <p>Estudiante</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <p class="text-muted">Me gusta que son clases en grupos pequeños o individuales, muy personalizado, avanzas a tu ritmo, cuidan mucho el detalle, el lugar es muy cómodo, esta climatizado, tiene sala de espera, el curso es muy completo,
                                                teoría, instrumento, coro, el curso esta organizado de forma muy gradual, vale la pena en verdad.</p>
                                            <h5>Adrian Coello </h5>
                                            <p>Medico Cirujano</p>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- electrica 02 -->
                <div data-aos="fade-right" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/electrica02.jpg" alt="" data-toggle="modal" data-target="#emodal2"></a>
                    <div class="modal__image--text">Básico.</div>
                    <div class="modal fade" id="emodal2">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesora Eugenia</h4>
                                                <p class="text-muted"> Licenciada en Interpretation Musical U de Chile; Magister en Pedagogía; Co-autora del Método de Guitarra Chilena, alumnos premiados en concursos</p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <h4 class="text-danger text-uppercase">testimonios</h4>
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <img src="../img/electrica02.jpg" class="w-100 rounded" alt="">
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <p class="text-muted">La academia es increíble! Las personas que forman parte de ella son muy profesionales; el ambiente de estudio refleja amor, pasión y diversión enfocados en la música. Es una Academia que nos ha permitido
                                                    evidenciar los desarrollos musicales de nuestro hijo y fijar lazos familiares con su creador y Director Luicito!, profesores, personal administrativo, alumnos, padres y familia en general!</p>
                                                <h5>Camilo Mejía</h5>
                                                <p>Profesor Química</p>
                                            </div>
                                            <div class="col-sm-4 col-lg-4">
                                                <p class="text-muted">Es un excelente sitio para la formación musical de los niños. Además de conocimientos y habilidades musicales, aprenden a amar la música. Su director y profesores son grandes seres humanos.</p>
                                                <h5>Claudia Ruz</h5>
                                                <p>Kinesiologa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- electrica 03 -->
                <div data-aos="fade-left" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/electrica03.jpg" alt="" data-toggle="modal" data-target="#emodal3"></a>
                    <div class="modal__image--text">Medio.</div>
                    <div class="modal fade" id="emodal3">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Mauris Hussein</h4>
                                                <p class="text-muted"> Profesor con 25 años dictando clases, graduado en todos los niveles y edades, teorías, armonías e improvisación </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-12">
                                                <h4 class="text-danger text-uppercase">testimonios</h4>
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <img src="../img/electrica03.jpg" class="w-100 rounded" alt="">
                                            </div>

                                            <div class="col-sm-4 col-lg-4">
                                                <p class="text-muted">Las clases y los cursos son muy buenos porque me saben explicar bien y de una forma fácil. He aprendido mucho…</p>
                                                <h5>Jonathan Pucha</h5>
                                                <p>Estudiante</p>
                                            </div>
                                            <div class="col-sm-4 col-lg-4">
                                                <p class="text-muted">Las clases que recibo me parecen muy buenas, me enseñan las cosas con mucha paciencia y dedicación lo cual me agrada mucho y avanzo rápido.</p>
                                                <h5>Alejandra Benavides</h5>
                                                <p>Violinista</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- electrica 04 -->
                <div data-aos="fade-left" data-aos-anchor-placement="top-center" class="col-sm-6 col-lg-3">
                    <a class="modal__image"><img class="img-fluid" src="../img/electrica04.jpg" alt="" data-toggle="modal" data-target="#emodal4"></a>
                    <div class="modal__image--text">Avanzado.</div>
                    <div class="modal fade" id="emodal4">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-footer">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-6 col-lg-6">
                                                <h4>Profesor Mauris Hussein</h4>
                                                <p class="text-muted"> Profesor con 25 años dictando clases, graduado en todos los niveles y edades, teorías, armonías e improvisación </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-6 text-lg-right">
                                                <h4>$29.999</h4>
                                                <p>12 Semanas </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-12">
                                            <h4 class="text-danger text-uppercase">testimonios</h4>
                                        </div>

                                        <div class="col-sm-4 col-lg-4">
                                            <img src="../img/electrica04.jpg" class="w-100 rounded" alt="">
                                        </div>

                                        <div class="col-sm-4 col-lg-4">
                                            <p class="text-muted">Estoy muy contenta ya que puedo ver los resultados de los cursos en mi hija, creo que también tiene que ver con la empatía que llegan a formar profesor y alumno.</p>
                                            <h5>Mercedes Tibán</h5>
                                            <p>Contadora</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-4">
                                            <p class="text-muted">Enseñan muy bien, me han enseñado muchas cosas, he aprendido mucho y quiero seguir porque me gusta mucho el instrumento, incluso estoy pensando aprender un segundo instrumento.</p>
                                            <h5>Dayana Quispilema</h5>
                                            <p>Músico profesional</p>
                                        </div>
                                    </div>

                                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- información de contacto. -->
        <div class="container conocenos">
            <div class="row">
                <div class="col-lg-6 col-sm-12 conocenos__texto">
                    <h1> Conócenos </h2>
                        <h5 class="text-muted"> Nuestro objetivo es llevar este proyecto a nivel mundial. Los pocos proyectos de calidad en el mundo son caros, a menudo ofrecen solo un instrumento y son en inglés. Nosotros queremos ofrecer nuestros servicios en todos los idomas,
                            con tárifas accesibles y adaptadas a cada lugar. </h5>
                        <h2> Contacto: +56 912345678 </h2>
                        <h2>Director: Juanito Perez </h2>
                        <h5> Director academico </h5>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div>
                        <div data-aos="fade-right" class="conocenos__imagen--principal">
                            <div class="conocenos__imagen--secundaria"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <!-- información de contacto. -->
    <footer class="pie">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 text-lg-left pie__copyright">Copyright © Todos los derechos reservados!
                </div>
                <div class="col-lg-4 col-sm-4 pie__redes">
                    <a class="media__twitter btn btn-dark" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="media__facebook btn btn-dark" href="#!"><i class="fab fa-facebook"></i></a>
                    <a class="media__linkedin btn btn-dark" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 col-sm-4 text-lg-right">
                    <a href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- scripts de bootstrap 4.6 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>


</html>